.navbar {
    display: flex;
    align-items: center;
    background-color: #6ee965;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #000;
}

.logo {
    font-weight: bold;

}

@media screen and (max-width: 768px) {
    .navbar .logo {

        display: none;
    }
}

.users {
    display: flex;
    gap: 10px;

}

.users img {
    border: 1px solid #000;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.users button {
    background-color: var(--secondary-color);
    color: #000;
    font-size: 13px;
    border: none;
    cursor: pointer;


}


@media screen and (max-width: 768px) {
    .navbar .users button {
        position: absolute;
        bottom: 10px;
    }
}