.messages {
    display: flex;
}

.messages .message {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

}

.messageInfo {
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;

}

.messageInfo img {
    margin: 0 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--color);
}


.messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.messageContent p {
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
    margin: 0;
}

.messageContent span {
    position: relative;
    top: -10px;
}

[data-lang='Arabic'] .messageContent span {
    text-align: left;
}

[data-lang='English'] .messageContent span {
    text-align: right;
}

.messageContent img {
    width: 50%;
}


.owner {
    flex-direction: row-reverse;
}

.owner .messageContent {
    align-items: flex-end;
}

.owner .messageContent p {
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0px 10px 10px;
}