.search {
    border-bottom: 2px solid #6ee965;

}

.searchForm {
    padding: 10px;

}

.searchForm input {
    background-color: transparent;
    border: none;
    color: #000;
    outline: none;
}

.searchForm input::placeholder {
    color: #000;
}



.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.userChat:hover {
    background-color: #2f2d52;
}

.userchat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userChatInfo span {
    font-size: 18px;
    font-weight: 500;
}

.userChatInfo p {
    font-size: 14px;
    color: lightgray;
}