.chapterCont {
    position: relative;
}

.warnings {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.warnings h5 {
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 7px;
    color: #000;
    border-radius: 7px;
    margin: 0 10px;
}

.warnings p {
    margin: 0;
}

.warnings span {
    color: #f35151;
}

.chapterCont .down {
    padding: 100px 0;
    text-align: center;
}

.chapterCont .down .buttn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.chapterCont .down .text h1 {
    color: var(--secondary-color);
}

.chapterCont .down .text p {
    font-size: 22px;
}