.stars li {
    width: inherit !important;
    border: none !important;
    font-size: 2rem !important;
    color: var(--secondary-color) !important;
}

.stars li div[aria-checked="false"] span {
    color: #ccc !important;
}

.stars span {
    color: inherit !important;
}