.registers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.alert {
    background: transparent;
    border: none;
    height: 10px;
    color: var(--secondary-color);
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom input {
    margin-top: 25px;
}

.registers .forgot {
    position: relative;
    right: 8px;
    bottom: 0;
    font-size: 14px;
    cursor: pointer;

}

[data-lang='English'] .registers .forgot {
    right: -11px;
}

.registers .account {
    text-decoration: underline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -46px;
    cursor: pointer;
}

.registers button {
    background-color: var(--secondary-color);
    border-radius: 16px;
    width: 100%;
    height: 50px;
    transition: .3s;
}

.registers button:hover {
    background-color: #a3a305;
}