.Advanture {
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.Advanture:hover {
    background-color: var(--secondary-color);
    color: #fff;
    border: 3px solid #fff;
}

.Action {
    color: rgb(253, 226, 125);
    border: 3px solid rgb(253, 226, 125);
}

.Action:hover {
    background-color: rgb(253, 226, 125);
    color: #fff;
    border: 3px solid #fff;
}

.Fiction {
    color: rgb(75, 54, 119);
    border: 3px solid rgb(75, 54, 119);
}

.Fiction:hover {
    background-color: rgb(75, 54, 119);
    color: #fff;
    border: 3px solid #fff;
}

.Science {
    color: rgb(243, 208, 10);
    border: 3px solid rgb(242, 204, 91);
}

.Science:hover {
    background-color: rgb(242, 204, 91);
    color: #fff;
    border: 3px solid #fff;
}

.Psychology {
    color: rgb(243, 10, 212);
    border: 3px solid rgb(243, 10, 212);
}

.Psychology:hover {
    background-color: rgb(78, 2, 78);
    color: #fff;
    border: 3px solid #fff;
}

.ScienceFiction {
    color: rgb(45, 54, 101);
    border: 3px solid rgb(45, 54, 101);
}

.ScienceFiction:hover {
    background-color: rgb(45, 54, 101);
    color: #fff;
    border: 3px solid #fff;
}

.Poem {
    color: rgb(2, 127, 238);
    border: 3px solid rgb(2, 127, 238);
}

.Poem:hover {
    background-color: rgb(2, 127, 238);
    color: #fff;
    border: 3px solid #fff;
}

.Other {
    color: rgb(101, 98, 243);
    border: 3px solid rgb(101, 98, 243);

}

.Other:hover {
    background-color: rgb(45, 83, 209);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.Fantasy {
    color: rgb(255, 216, 75);
    border: 3px solid rgb(255, 216, 75);

}

.Fantasy:hover {
    background-color: rgb(255, 216, 75);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.Romance {
    color: rgb(249, 29, 80);
    border: 3px solid rgb(249, 29, 80);


}

.Romance:hover {
    background-color: rgb(249, 29, 80);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.Horror {
    color: rgb(235, 224, 48);
    border: 3px solid rgb(235, 224, 48);


}

.Horror:hover {
    background-color: rgb(235, 224, 48);
    color: #fff;
    border: 3px solid #fff;
}

.History {
    color: rgb(235, 148, 48);
    border: 3px solid rgb(235, 148, 48);


}

.History:hover {
    background-color: rgb(235, 154, 48);
    color: #fff;
    border: 3px solid #fff;
}

.Literature {
    color: rgb(48, 235, 173);
    border: 3px solid rgb(48, 235, 173);


}

.Literature:hover {
    background-color: rgb(11, 148, 158);
    color: #fff;
    border: 3px solid #fff;
}

.Classic {
    color: rgb(175, 4, 16);
    border: 3px solid rgb(175, 4, 16);

}

.Classic:hover {
    background-color: rgb(89, 89, 87);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.Crime {
    color: rgb(158, 109, 109);
    border: 3px solid rgb(158, 109, 109);

}

.Crime:hover {
    background-color: rgb(89, 89, 87);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.Mystery {
    color: rgb(52, 124, 240);
    border: 3px solid rgb(52, 124, 240);

}

.Mystery:hover {
    background-color: rgb(240, 240, 68);
    ;
    color: #fff;
    border: 3px solid #fff;
}
.Novel{
    color: rgb(81, 1, 156);
    border: 3px solid rgb(81, 1, 156);
}
.Novel:hover {
    background-color: rgb(75, 3, 93);
    ;
    color: #fff;
    border: 3px solid #fff;
}
