.registers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.book {
    display: flex;
    justify-content: center;
    align-items: center;
}



.bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom input {
    margin-top: 25px;
}

.registers button {
    background-color: var(--secondary-color);
    border-radius: 16px;
    width: 100%;
    transition: .3s;
    height: 50px;
}

.registers .regInput button:hover {
    background-color: #a3a305;
}